.main {
    display: flex;
  }
  
  .menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  ul {
    list-style: none;
    padding-inline-start: 0px;
  }
  
  .center {
    width: 60%;
    display: inline;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
  }
  
  html, body {
    height: 100%;
    display: inline;
    background-color:grey;
  }
  
  button {
    width: 100%;
  }
  
  #innerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}